/**
 * @file
 * Lazy Theme style css file.
 */
#page-wrapper {
  margin: 0 auto;
  padding: 10px;
  width: 980px;
  border: 1px solid blue;
}

.block-lazy-counter {
  float: right;
  border: 1px solid blue;
}

/* lazy_counter_form_adjust form */
.lazy-table {
  width: 80%;
  margin: 20px auto;
}

.lazy-table tbody {
  border: 0px;
}
.lazy-table tr {
  background-color: white;
  border: 0px;
}

.lazy-table td {
  /*width: 50%;*/
  padding: 20px;
}
